/* 
    Created on : 19/03/2018, 08:06:20
    Author     : Cliente
*/
*{margin: 0px; padding: 0px; border: none; font-weight: 300;
  outline: none; box-sizing: border-box; font-family: 'Roboto', sans-serif;}
body{background-color: #f5f5f5 ;margin: 0px;padding: 0px;}
a{text-decoration: none;}
ul{list-style: none;}
img{width: 100%;}

/*----CABEÇALHO MENU----*/
.menu-cabecalho{width:100%; float:left; padding: 3% 4%; background-color: #333333;}

.logo{width:45%; padding-top: 2.5%; float: left; font-size: 0px;}

.btn-menu{width: 35px; height: 35px; float: right; text-align: center; color: #fff; 
        cursor: pointer; background-color: #333333;}

/*----MENU----*/
.menu{display: none; width: 100%; height: 100%; position: fixed; 
    background-color: rgba(0,0,0, 0.9); top:0; left: 0;}

.btn-fechar{width: 37px; height: 35px; padding-top: 2%; padding-right: 1%;
            font-size: 2em; color: #fff; float: right; cursor: pointer;}

.btn-fechar:hover{color: #FFA155;}

.menu ul{width: 100%; padding-top: 35%; float: left; text-align: center;}

.menu li{padding: 1.5%;}

.menu li a{font-size: 1.5em; color: #E4E4E4; padding: 1.5% 3%;}

.menu li a:hover{color: #FFA155; border: 1px solid #FFA155;}

/*----CONTEUDO----*/

.cabecalho{width: 100%; float: left; text-align: center;}

.principal-conteudo{width: 100%; float: left; padding: 5% 5%;}

.conteudo h1{text-align: center; font-size: 1.19em; font-weight: bold;}

.data{width: 100%; height: 30px; text-align: center;}

.data img{text-align: center; width: 18px; height: 18px; 
        margin-top: 2px; float: left; margin-left: 75px;}

.data span{font-size: 0.9em; float: left; margin-top: 5px; margin-left: 10px;}

.topico{font-size: 0.9em;}
.topico p{text-align: justify;}

.evento-item{margin-bottom: 10px;font-weight: bold; font-size: 1em}

/*----RODAPE----*/

.rodape{ background-color: #333333; width: 100%; float: left;
    text-align: center; padding: 1.5% 5%;}

.icon{width: 77%; height:30px; margin-left: 23%;}

.icon img{height: 20px; width: 20px;}

.icon a{float: left; margin: 5px;}

.icon p{float: left; margin: 5px;}

.copyright{margin-top: 2%; color: rgba(255,255,255,0.7); font-size: 0.8em;}

.break{clear: both;}

.icon{color: rgba(255,255,255,0.7); font-size: 0.8em;}

            /*----MEDIA SCREEN----*/
            
@media screen and (min-width: 475px){
/*----MENU----*/
.btn-menu{width: 40px; height: 40px;}
/*----CABEÇALHO MENU----*/
.logo{width:40%; padding-top: 2%; padding-bottom: 2%;}
.btn-fechar{width: 44px; height: 50px; margin-top: 3%; margin-right: 1%; font-size: 2em;}
.menu ul{padding-top: 20%;}
.menu li{padding: 2%;}
/*----CONTEUDO----*/
.conteudo h1{font-size: 1.5em;}
.data span{font-size: 1em;}
.data img{margin-left: 95px;}
.topico{font-size: 1em;}
.topico p{padding: 2px; text-align: justify;}
}

@media screen and (min-width: 480px){
    .logo{width:30%; padding-top: 2%; padding-bottom: 2%;}
    .icon{width: 80%; margin-left: 20%;}
}
@media screen and (min-width: 635px){
.logo{width:25%; padding-top: 2%; padding-bottom: 2%;}
.menu-cabecalho{position: fixed;}
.cabecalho{margin-top: 13%;}
.btn-menu{position: fixed;  display: none; width: 35px; height: 35px; float: right; text-align: center; color: #fff; 
        cursor: pointer; background-color: #333333;}
.menu{display: initial; width: 100%; height: 0;}
.btn-fechar{display: none; width: 37px; height: 35px; padding-top: 2%; padding-right: 1%;
            font-size: 2em; color: #fff; float: right; cursor: pointer;}
.btn-fechar:hover{color: #FFA155;}
.menu ul{width: 100%; padding-left: 24%; padding-top: 5%;float: right;}
.menu li{display: inline; padding: 1%;}
.menu li a{font-size: 1em; color: #E4E4E4; padding: 0;}
.menu li a:hover{color: #FFA155; border: none;}
}